.App {
  text-align: center;
}

.photo {
  height: 375px;
  width: 400px;
}

#resumeLink:active {
  color: #1976d2;
}

#resumeLink:visited {
  color: maroon;
}

@media screen and (max-width: 1372px) {
  .photo {
    height: 275px;
    width: 300px;
  }
}
@media screen and (max-width: 1076px) {
  .photo {
    height: 225px;
    width: 250px;
  }
}
